@model Colore_Entrega2.Models.Curriculo

@{
    ViewData["Title"] = "Alterar Informações";
}

@using Microsoft.AspNetCore.Identity
@using ColoreEntrega2.Areas.Identity.Data

@inject UserManager<ColoreEntrega2User> UserManager

@if ((@Model.Id).Equals(@UserManager.GetUserId))
{
        <div class="mae">
        <div class="left-curriculo">
            <div class="user row">
                <img src="~/media/user-img.png" alt="">
            </div>
            <div class="title row">
                <h1>Editar Informações do curriculo</h1>
            </div>
        </div>
        <div class="row right-curriculo">
          <div class="row card-right-curriculo">
              <h5 class="h5 text-center">Insira suas novas informações</h5>

              <div class="row g-1">
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Nome" aria-label="Nome">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Sobrenome" aria-label="Sobrenome">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Nome Social" aria-label="Nome-Social">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="CPF" aria-label="CPF">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="RG" aria-label="RG">
                </div>
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Nascimento" aria-label="Data-De-Nascimento">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="CEP" aria-label="CEP">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Endereço" aria-label="Endereco">
                </div>
              </div>

              <div class="row g-1 alinhamento">
              <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="N°" aria-label="Numero">
                </div>
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Complemento" aria-label="Complemento">
                </div>
              </div>

              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Bairro" aria-label="Bairro">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Cidade" aria-label="Cidade">
                </div>
              </div>

              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="UF" aria-label="UF">
                </div>
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="País" aria-label="País">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-3 p-1 f">
                  <input type="text" class="form-control" placeholder="Área de atuação" aria-label="Area-de-atuacao">
                </div>
                <div class="col-md-3 p-1 f">
                  <input type="text" class="form-control" placeholder="Experiência?" aria-label="experiencia">
                </div>
                <div class="col-md-3 p-1 f">
                    <input type="text" class="form-control" placeholder="Tempo" aria-label="Tempo">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-3 p-1 f">
                  <input type="text" class="form-control" placeholder="Escolaridade" aria-label="Escolaridade">
                </div>
                <div class="col-md-3 p-1 f">
                  <input type="text" class="form-control" placeholder="Curso" aria-label="Curso">
                </div>
                <div class="col-md-3 p-1 f">
                    <input type="text" class="form-control" placeholder="Instituição" aria-label="Instituicao">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col">
                  <button class="botao btn btn-success" type="submit">
                   <a asp-controller="Home" asp-action="#LINKARbackPRASalvar">Editar</a>
                  </button>
                </div>
                <div class="col">
                  <button class="botao btn btn-dark" type="submit">
                    <a asp-controller="Home" asp-action="Index">Fazer logout</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
}else{
    <div class="mae">
        <div class="left-curriculo">
            <div class="user row">
                <img src="~/media/user-img.png" alt="">
            </div>
            <div class="title row">
                <h1>Cadastrar Informações de Curriculo</h1>
            </div>            
        </div>

<form asp-action="Create">
        <div class="row right-curriculo">
          <div class="row card-right-curriculo">
              <h5 class="text-center">Aqui ficam suas informações referentes ao seu currículo.</h5>
              
              <div class="row g-1">
                <div class="col-md-6 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" >
                </div>
                <div class="col-md-6 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Sobrenome" aria-label="Sobrenome">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-6 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Nome Social" aria-label="Nome-Social">
                </div>
                <div class="col-md-6 p-1 formulario">
                  <input type="text" class="form-control" placeholder="CPF" aria-label="CPF">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-6 p-1 formulario">
                  <input type="text" class="form-control" placeholder="RG" aria-label="RG">
                </div>
                <div class="col-md-6 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Nascimento" aria-label="Data-De-Nascimento">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-6 p-1 formulario">
                  <input type="text" class="form-control" placeholder="CEP" aria-label="CEP">
                </div>
                <div class="col-md-6 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Endereço" aria-label="Endereco">
                </div>
              </div>

              <div class="row g-1 alinhamento">
              <div class="col-md-6 p-1 formulario">
                    <input type="text" class="form-control" placeholder="N°" aria-label="Numero">
                </div>
                <div class="col-md-6 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Complemento" aria-label="Complemento">
                </div>
              </div>

              <div class="row g-1 alinhamento">
                <div class="col-md-6 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Bairro" aria-label="Bairro">
                </div>
                <div class="col-md-6 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Cidade" aria-label="Cidade">
                </div>
              </div>

              <div class="row g-1 alinhamento">
                <div class="col-md-6 p-1 formulario">
                    <input type="text" class="form-control" placeholder="UF" aria-label="UF">
                </div>
                <div class="col-md-6 p-1 formulario">
                    <input type="text" class="form-control" placeholder="País" aria-label="País">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Área de atuação" aria-label="Area-de-atuacao">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Experiência?" aria-label="experiencia">
                </div>
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Tempo" aria-label="Tempo">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Escolaridade" aria-label="Escolaridade">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Curso" aria-label="Curso">
                </div>
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Instituição" aria-label="Instituicao">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                   <div class="col">
                  <button class="botao btn btn-warning" type="submit">
                    <input type="submit" value="Salvar Curriculo" class="btn btn-success" />
                  </button>
                </div>                  
                <div class="col">
                  <button class="botao btn btn-warning" type="submit" value="Create" >
                    <a style="color: black;" asp-action="Create" asp-route-id="@Model.@UserManager.GetUserId">Salvar</a>
                  </button>
                </div>
                <div class="col">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="botao btn btn-dark">Fazer logout</button>
                    </form>                  
                </div>
              </div>
            </div>
          </div>
</form>
        </div>
}