@model Colore_Entrega2.Models.Vagas

@{
    ViewData["Title"] = "Cadastro Vagas - Área Administrador";
}
<div class="text-center standardBG">
    <h1>Preencha os dados da Vagas:</h1>
</div>


<hr />
    <div class="container register-cont">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label">Título da vaga</label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salario" class="control-label">Salário</label>
                <input asp-for="salario" class="form-control" />
                <span asp-validation-for="salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label">Descrição dos afazeres da vaga</label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group flex-wrap">
                <label asp-for="beneficios" class="control-label">Benefícios oferecidos</label>
                <input asp-for="beneficios" class="form-control" />
                <span asp-validation-for="beneficios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="area" class="control-label">Área de atuação</label>
                <input asp-for="area" class="form-control" />
                <span asp-validation-for="area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="escolaridade" class="control-label">Nível de escolaridade</label>
                <input asp-for="escolaridade" class="form-control" />
                <span asp-validation-for="escolaridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="experiencia" class="control-label">Experiência desejada</label>
                <input asp-for="experiencia" class="form-control" />
                <span asp-validation-for="experiencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idiomas" class="control-label">Idiomas necessários e seus níveis</label>
                <input asp-for="idiomas" class="form-control" />
                <span asp-validation-for="idiomas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="uimg" class="control-label"></label>
                <input asp-for="uimg" type="file" class="form-control" />
                <span asp-validation-for="uimg" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="idEmpresa" class="control-label">ID da Empresa</label>
                <input asp-for="idEmpresa" class="form-control" />
                <span asp-validation-for="idEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary m-3" asp-action="Vagas">Todas as vagas</button>
                <input type="submit" value="Cadastrar" class="btn btn-primary m-3" />
            </div>
        </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
