/-------------------------PAGINA 1 - PAINEL DO USUARIO-----------------/
/*MARGEM 0 */
* {
    margin: 0;
}
/CONFIG DE TODA A PAGINA/
.main {
    
    width: 80vw;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(rgb(70, 240, 141), rgb(9, 165, 61));
    color: black;
}
/CONFIG DA PARTE ESQUEDA DA PAG (FOTO E TITULO)/
.left {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/CONFIG DA PARTE DIREITA DA PAG (SOMENTE TAMANHO E ALINHAMENTO)/
.right {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
/CONFIG DA PARTE DIREITA DA PAG (CARD, INPUTS, FORMULARIO ETC)/
.card-right {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 2px 10px 40px #00000056;
}
/TAMANHO E SOMBRA DOS BOTOES/
.botao {
    height: 10vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/COR E TIRAR COR AZUL DE LINK DOS BOTOES/
.botao a {
    text-decoration: none;
    color: white;
}
/TAMANHO DA IMAGEM DA TELA DE PainelDoUsuario (a que se mexe)/
.img {
    width: 400px;
}
/MEDIA DE RESPONSIVIDADE/
@media (max-width: 530px) {
    .main {
        display: block;
        width: 86vh;
        background-image: linear-gradient(rgb(70, 240, 141), rgb(9, 165, 61));
        margin-left: -5vw;
    }
    .left{
        margin-left: 4vw;
        width: 69vh;
        
    }
    .right {
        width: 80vh;
        margin-left: 7vw;
    }
    .card-right {
        margin-left: -12.2vh;
    }
    .img {
        width: 300px;
    }
}

@media (min-width: 530px) and (max-width: 1200px) {

    .main {
        height:50%;
        width: 120%;
        margin-left: -5vw;
    }
    .right {
        margin-left: 0;
    }
    .img {
        width: 250px;
    }
}


/-------------------------------------------FIM DA PÁGINA 1-------------------------------/

/-----------------------------------PÁGINA 2 - CURRICULO---------------------------------/
/CONFIG DA DIV MAE (TELA TODA)/
.mae {
    width: 80vw;
    height: 112vh;
    display: flex;
    background-image: linear-gradient(rgb(70, 240, 141), rgb(9, 165, 61));
    color: black;
    justify-content: center;
    border-radius: 20px;
}
/CONFIG DA DIV ESQUERDA/
.left-curriculo {
    width: 50vw;
    height: 100vh;
    margin-top: -5vh;
    margin-left: -20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/CONFIG DA DIV DIREITA/
.right-curriculo {
    width: 50vw;
    height: 100vh;
    display: flex;
}
/CONFIG DO CARD DIREITO/
.card-right-curriculo {
    height: 110%;
    width: 90%;
    margin-top: 2px;
    margin-left: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 2px 10px 40px #00000056;
}

/CONFIG DA FOTO DE AVATAR/
.user {
    width: 10vw;
    margin-left: 15vw;

}
/CONFIG DO TITULO ABAIXO DO AVATAR/
.title {
    margin-left: 15vw; 
}
/BOTÕES/
.botao {
    height: 10vh;
    width: 20vw;
}
.alinhamento {

}
.formulario {
    margin-left:4vw;
}
.f {
    margin-left: 2vw;
}
/RESPONSIVIDADE , CUIDADO AQUI. ESTÁ SEMPRE DO MENOR PRO MAIOR./
@media (max-width:530px) {
    .user {
        width: 25vw;
        margin-left: 20vw;
    }
    .left-curriculo {
        margin-left: 15vh; 
    }
    .right-curriculo {
        height: 150%;
        width: 100%;
    }
    .mae {
        display: block;
        margin-left: -10vw;
        width: 110vw;
    }
    .card-right-curriculo {
        margin-top: 20vh;
        margin-left: 10vw;
        width: 90vw;
        flex-direction: column;
        display: block;
    }
    .card-right-curriculo h5 {
        margin-top: 3vh;
        font-size: 15px;
    }
    .botao {
        width: 40vw;
    }
    .formulario {
        margin-left: -.1vw;
    }
    .f {
        margin-left: .3vw;
    }


}
@media (min-width: 530px) and (max-width:620px) {
    .user {
        width: 20vw;
        margin-left: -20vw;
    }
    h1 {
        margin-left: -32vw;
    }
    .left-curriculo {
        margin-left: 25vh; 
    }
    .right-curriculo {
        height: 205%;
        width: 110%;
       
    }
    .mae {
        display: block;
        margin-left: -5vw;
        width: 110vw;
    }
    .card-right-curriculo {
        margin-top: 20vh;
        margin-left: 5vw;
        width: 90vw;
        flex-direction: column;
        display: block;
        height: 185vh;
    }
    .card-right-curriculo h5 {
        margin-top: 3vh;
        font-size: 15px;
        margin-left: 20px;
    }
    .botao {
        width: 40vw;
    }
    .formulario {
        margin-left: -.1vw;
    }

    .f {
        margin-left: .3vw;
    }
}
@media (min-width: 620px) and (max-width:900px) {
    .user {
        width: 20vw;
    }
    .left-curriculo {
        margin-left: 25vh; 
    }
    .right-curriculo {
        height: 108%;
        width: 110%;
    }
    .mae {
        display: block;
        margin-left: -18vw;
        width: 110vw;
    }
    .card-right-curriculo {
        margin-top: 20vh;
        margin-left: 15vw;
        width: 90vw;
        height: 185vh;
        flex-direction: column;
        display: block;
    }
    .card-right-curriculo h5 {
        margin-top: 3vh;
        font-size: 15px;
    }
    .botao {
        width: 40vw;
    }
    .formulario {
        margin-left: -.1vw;
    }

    .f {
        margin-left: .3vw;
    }
}
@media (min-width: 901px) and (max-width:1) {
    .user {
        width: 20vw;
    }

    .left-curriculo {
        margin-left: 25vh;
    }

    .right-curriculo {
        height: 108%;
        width: 110%;
    }

    .mae {
        display: block;
        margin-left: -18vw;
        width: 110vw;
    }

    .card-right-curriculo {
        margin-top: 20vh;
        margin-left: 15vw;
        width: 90vw;
        height: 100vh;
        flex-direction: column;
        display: block;
    }

        .card-right-curriculo h5 {
            margin-top: 3vh;
            font-size: 15px;
        }

    .botao {
        width: 40vw;
    }

    .formulario {
        margin-left: -.1vw;
    }

    .f {
        margin-left: .3vw;
    }
}
