<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/458ceb5d-f625-454d-a177-b7a2f836974c/resourcegroups/Colore/providers/Microsoft.Web/sites/Colore2</ResourceId>
    <ResourceGroup>Colore</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://colore2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>706f3a86-fa2c-4d11-9b5b-de9082aae2a3</ProjectGuid>
    <PublishUrl>https://colore2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Colore2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>