@model IEnumerable<Colore_Entrega2.Models.Vagas>

@{
    ViewData["Title"] = "Curriculo";
}
<body>
    <div class="mae">
        <div class="row">
            <div class="user row">
                <img src="~/media/user-img.png" alt="">
            </div>
            <div class="title row text-center">
                <h1>Seja muito bem vindo ao Painel.</h1>
            </div>
        </div>

        <div class="row">
          <div class="row text-center">
              <h5>Aqui ficam suas informações referentes ao seu currículo.</h5>
              <div class="row bg-img justify-content-center mb-5">
              <img src="~/images/curriculo/curriculo.svg.svg">
              <div class="row">
                  <p>Preencha os dados abaixo para finalizar seu cadastro.</p>

              </div>
              </div>
               </div>


            <div class="row mae-2">
              <div class="row g-1 alinhamento">
               <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Nome" aria-label="Nome">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Sobrenome" aria-label="Sobrenome">
                </div>
                </div>

              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Nome Social" aria-label="Nome-Social">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="CPF" aria-label="CPF">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="RG" aria-label="RG">
                </div>
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Nascimento" aria-label="Data-De-Nascimento">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="CEP" aria-label="CEP">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Endereço" aria-label="Endereco">
                </div>
              </div>

              <div class="row g-1 alinhamento">
              <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="N°" aria-label="Numero">
                </div>
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Complemento" aria-label="Complemento">
                </div>
              </div>

              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Bairro" aria-label="Bairro">
                </div>
                <div class="col-md-4 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Cidade" aria-label="Cidade">
                </div>
              </div>

              <div class="row g-1 alinhamento">
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="UF" aria-label="UF">
                </div>
                <div class="col-md-4 p-1 formulario">
                    <input type="text" class="form-control" placeholder="País" aria-label="País">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-3 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Área" aria-label="Area-de-atuacao">
                </div>
                <div class="col-md-3 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Experiência?" aria-label="experiencia">
                </div>
                <div class="col-md-3 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Tempo" aria-label="Tempo">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col-md-3 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Escolaridade" aria-label="Escolaridade">
                </div>
                <div class="col-md-3 p-1 formulario">
                  <input type="text" class="form-control" placeholder="Curso" aria-label="Curso">
                </div>
                <div class="col-md-3 p-1 formulario">
                    <input type="text" class="form-control" placeholder="Instituição" aria-label="Instituicao">
                </div>
              </div>
              <div class="row g-1 alinhamento">
                <div class="col">
                  <button class="botao btn btn-warning" type="submit">
                    <a style="color: black;a asp-controller="Home" asp-action="EditarCurriculo">Salvar informações</a>
                  </button>
                </div>
                <div class="col">
                  <button class="botao btn btn-dark " type="submit">
                    <a asp-controller="Home" asp-action="Index">Fazer logout</a>
                  </button>
                </div>
          </div>
          </div>
          
          

        
       </div>


    </div>
</body>
