 @model IEnumerable<Colore_Entrega2.Models.Vagas>

@{
    ViewData["Title"] = "Painel do Usuário";
}
 <div class="main">
            <div class="left">
                <h1 class="title text-center">Olá, candidato!</h1>
                <p class="title text-center">Seja muito bem vindo ao Painel de Usuário.</p>
                <div class="img">
                    <img src="~/media/left-img.svg" alt="">
                </div>
            </div>

            <div class="right">
                <div class="card-right">
                    <div class="row m-5 title">
                        <h4 class="text-center">Selecione a opção desejada</h4>
                    </div>
                    <div class="row mb-3">
                        
                        <button type="button" class="btn btn-success botao">Minhas vagas cadastradas</button>
                    </div>

                    <div class="row mb-3">
                        
                        <button type="button" class="btn btn-primary botao"><a asp-controller="Home" asp-action="Curriculo">Informações pessoais</a></button>
                    </div>
                    <div class="row m-5">
                        
                        <button type="button" class="btn btn-dark botao"><a asp-controller="Home" asp-action="PainelDoUsuario">Painel</a></button>
                    </div>
                </div>
            </div>
    </div>